*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1 rem = 10px */
}

main {
    font-size: 1.5rem;
}

h4,h5 {
    font-size: 2rem;
}

main > .exercises{
    padding: 5rem;
    text-align: center;
}

input{
    text-align: center;
}

.exercises form:not(.form) {
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.button-color{
    width: 100%;
    max-width: 30rem;
}

.img-big{
    width: 100%;
} 

.secondaryImages {
    display: flex;
    justify-content: space-around;
}
.container{
    display: grid; 
    gap: 2rem;
}
.img{
    width: 20%;
}

input[type='button']{
    width: 20%;
    border-radius:.8rem ;
    background-color: #09f;
    border: none;
}
input[type='button']:hover{
    background-color: rgba(29, 164, 255, 0.584);
}