*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1 rem = 10px */
}

main {
    font-size: 1.5rem;
}

h4,h5 {
    font-size: 2rem;
}

main > .exercises{
    padding: 5rem;
    text-align: center;
}

input{
    text-align: center;
}

.exercises form:not(.form) {
    min-height: 40vh;
    display: grid;
    place-content: center;
    gap: 2rem;
}

.button-color{
    width: 100%;
}

.img-big{
    width: 100%;
} 

.secondaryImages {
    display: flex;
    justify-content: space-around;
}
.container{
    display: grid; 
    gap: 2rem;
}
.img{
    width: 20%;
}